--- 
layout: post
title: Kit b&aacute;sico de librer&iacute;as 2009
tags: 
- desarrollo
- ruby
- rails
---
%p Se va el 2009 y no puedo evitar terminar conun obvio post acerca de las librer&iacute;as que estuve usando durante este a&ntilde;o para desarrollar aplicaciones Rails. Us&eacute; un mont&oacute;n m&aacute;s, pero estos son los m&aacute;s memorables de este a&ntilde;o. 

%ul
  %li #{link_to("RestClient", "http://rest-client.heroku.com/rdoc/")} : Buen&iacute;simo cliente de APIs REST. Muy f&aacute;cil de usar. ActiveResource apesta. 
  %li #{link_to("Inherited Resources", "http://github.com/josevalim/inherited_resources/")} : Antes usaba ResourceController, pero se qued&oacute; en el tiempo e inclusive dir&iacute;a que me acostumbr&oacute; a resolver los problem&aacute;s (quiz&aacute;s) no de la manera m&aacute;s elegante. Opt&eacute; por esta porque me parece su sucesora obvia. mejora much&iacute;simo y no resta funcionalidades. 
  %li #{link_to("Factory Girl", "http://github.com/thoughtbot/factory_girl")} : como factory de objetos en testing o en la consola de Rails (super &uacute;til para hacer pruebas r&aacute;pidas).
  %li #{link_to("Faker", "http://faker.rubyforge.org/")} : Generaci&oacute;n interminable de palabras, nombres, emails, urls, y mucho m&aacute;s, perfecto para testing, d&oacute;nde todo eso es importante, pero hasta ah&iacute;. Me pregunto, para cuando un faker en castellano, che? 
  %li #{link_to("Boxy", "http://onehackoranother.com/projects/jquery/boxy/")} : para generar ventanas como las de Facebook. Es un plugin #{link_to("jQuery", "http://www.jquery.com")}.
  %li #{link_to("Paperclip", "http://github.com/thoughtbot/paperclip")} : S&uacute;per bobo manejo de uploads.  
  %li #{link_to("Formtastic", "http://github.com/justinfrench/formtastic")} : Antes usaba mi propio formbuilder que durante mucho tiempo fue m&aacute;s que suficiente. Hoy en d&iacute;a ya no tiene sentido seguir reinventando la rueda. Formtastic te permite salir andando con cero esfuerzo. Genera formularios HTML sem&aacute;nticamente correctos. No sobreescribe ninguno de los m&eacute;todos standard de Rails, as&iacute;que se puede comenzar a usar de a poco. 
  %li #{link_to("Haml", "http://haml-lang.com/")} & #{link_to("Sass", "http://sass-lang.com/")}: No voy a explicar esto. Son dos librer&iacute;as indispensables cualquier proyecto que comience. 
  %li #{link_to( "Friendly Id", "http://github.com/norman/friendly_id/")}  : Permalink Fu se va, entra Friendly Id! Si, admito que llegu&eacute; tarde, pero qu&eacute; linda librer&iacute;a. Se integra con Rails se una manera que es admirable. Gran trabajo.  
  %li #{link_to("Searchlogic", "http://github.com/binarylogic/searchlogic")} Zarpado abusador de los name scopes de ActiveRecord. Una soluci&oacute;n elegante para las b&uacute;squedas simples de tu pr&oacute;xima aplicaci&oacute;n. 
  %li #{link_to("Lockdown", "http://stonean.com/page/lockdown")} : Uff, para seguridad basada en roles, mi favorito.
  %li #{link_to("Whenever", "http://github.com/javan/whenever")} : Ejecuci&oacute;n programada de lo que se te cante. 

%p En fin, aqu&iacute; est&aacute;n, estos son, los "pluguines" de Flori&oacute;. 
