--- 
layout: post
title: TED - Ideas worth spreading
---
%p 
  Un compa&ntilde;ero de laburo me pas&oacute; el link de este sitio, 
  = link_to "TED", "http://www.ted.com/"
  \. El sitio contiene un mont&oacute;n de videos interesantes, sobre ideas que valen la pena, o que al menos te hacen pensar, que te mueven algo. A veces, despu&eacute;s de tato libro t&eacute;cnico, de tanto video de conferencia de Ruby, de tanta cosa fr&iacute;a, lo que uno necesita es algo que te movilice, que te haga pensar m&aacute;s all&aacute; de tu propia quintita. 

%h2 Destacados (hasta ahora)

%p Por ahora, de las charlas que pude ver, estas son mis recomendaciones. 

%ul
  %li
    = link_to("Eve Ensler: Embrace your inner girl", "http://www.ted.com/talks/eve_ensler_embrace_your_inner_girl.html") 
    (aguantarlo hasta el final, que vale la pena).
  %li
    = link_to "Blaise Aguera y Arcas demos augmented-reality maps", "http://www.ted.com/talks/blaise_aguera.html"
    (zarpado)
  %li
    = link_to "Dan Buettner: How to live to be 100+", "http://www.ted.com/talks/lang/eng/dan_buettner_how_to_live_to_be_100.html" 
    (creo que sali&oacute; algo de esto en un Radar de hace unos meses, pero me gust&oacute; mucho).
  %li
    = link_to "Charles Fleischer insists: All things are Moleeds", "http://www.ted.com/talks/lang/eng/charles_fleischer_insists_all_things_are_moleeds.html"
    (loqu&iacute;simo)


%p Ah, me olvidaba. Son cortitos, de no m&aacute;s de 20 minutos, as&iacute; sin darte cuenta pod&eacute;s ver un mont&oacute;n en muy poco tiempo. 

%p Espero que lo puedan disfrutar... a mi me encant&oacute;, y eso que solo habr&eacute; visto unos 10 de ellos. 
