!!!Strict
%html{html_attrs}
  %head
    %meta{ :"http-equiv" => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %title= page.title.match(/Justo al Caer$/) ? page.title : "#{page.title} – Justo al Caer"
    %meta{ :name => 'author', :content => 'Justo al Caer (http://www.justoalcaer.com.ar)' }
    %link{ :href => FEED_URL, :rel => "alternate", :title => "Lucas Efe", :type => "application/atom+xml" }
    %link{ :rel => "stylesheet", :type => 'text/css', :href => '/stylesheets/thickbox.css' }
    %link{ :rel => "stylesheet", :type => 'text/css', :href => '/stylesheets/reset.css' }
    %link{ :rel => "stylesheet", :type => 'text/css', :href => '/stylesheets/960.css' }
    %link{ :rel => "stylesheet", :type => 'text/css', :href => '/stylesheets/text.css' }
    %link{ :rel => "stylesheet", :type => 'text/css', :href => '/stylesheets/colorbox.css' }
    %link{ :rel => "stylesheet", :type => 'text/css', :href => '/stylesheets/default.css' }

    %script{ :src => '/js/jquery.min.js', :type => 'text/javascript' }
    %script{ :src => '/js/jquery.flickr.js', :type => 'text/javascript' }
    %script{ :src => '/js/jquery.cookie.js', :type => 'text/javascript' }
    %script{ :src => '/js/jquery.twitter.js', :type => 'text/javascript' }
    %script{ :src => '/js/jquery.colorbox-min.js', :type => 'text/javascript' }
    %script{ :src => '/js/jquery.livequery.js', :type => 'text/javascript' }
    %script{ :src => '/js/app.js', :type => 'text/javascript' }
  %body
    #top
    #container.container_12
      #header.grid_12
      #top-header.grid_12
        %ul
          - navigation
      #main.grid_9
        = content
      #sidebar.grid_3
        #tweets
      #footer.grid_12
        .grid_4.alpha
          = link_to('RSS', FEED_URL)
          %br
          = link_to('Twitter', "http://www.twitter.com/justoalcaer")
          %br
          = link_to('MySpace', "http://www.myspace.com/justoalcaer")
          %br
          = link_to('Facebook', "http://www.facebook.com/#!/pages/Justo-Al-Caer/39438329526")
        .grid_4
          %ul
            - site.categories.keys.each do |category|
              %li= category.humanize
        .grid_4.right.omega
          Powered by
          = link_to('Jekyll', 'http://github.com/henrik/jekyll')
          and
          = link_to('Disqus', 'http://disqus.com')
          %br
          This is
          = link_to('Open Source', 'http://github.com/lucasefe/www.justoalcaer.com.ar')
    #bottom